@use "@/mixins";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  --text-color: rgba(0, 0, 0, 0.87);
  color: var(--text-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --c-divider: #e2e2e3;
  --nav-height: 64px;
  --c-bg: #ffffff;

  --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.04), 0 1px 2px rgba(0, 0, 0, 0.06);
  --shadow-2: 0 3px 12px rgba(0, 0, 0, 0.07), 0 1px 4px rgba(0, 0, 0, 0.07);
  --shadow-3: 0 12px 32px rgba(0, 0, 0, 0.1), 0 2px 6px rgba(0, 0, 0, 0.08);
  --shadow-4: 0 14px 44px rgba(0, 0, 0, 0.12), 0 3px 9px rgba(0, 0, 0, 0.12);
  --shadow-5: 0 18px 56px rgba(0, 0, 0, 0.16), 0 4px 12px rgba(0, 0, 0, 0.16);
}

html,
body {
  padding: 0;
  margin: 0;
}

@include mixins.system-theme(dark) {
  :root {
    --text-color: rgba(255, 255, 255, 0.87);
    --c-bg: #202127;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.mask-icon {
  width: 1em;
  height: 1em;
  mask: var(--icon) no-repeat;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  font-size: 20px;
  transition: fill 0.25s;
  display: block;
}
